@import "tailwindcss";

@theme {
  --color-primary: #BC9B6A;
  --color-primary-200: #EED688;
  --color-secondary: #03473B;
  --color-accent: #d9e3e2;
}

@layer base {
  body {
    font-family: var(--font-kanit);
  }

  h1,h2 {
    @apply font-semibold text-3xl text-center mb-8 text-primary;
  }

  h3 {
    @apply font-light text-3xl text-center mb-4 text-primary;
  }

  .pill {
    @apply bg-secondary text-white py-1 px-6 rounded-full text-center;
  }

  .container {
    @apply max-w-5xl! mx-auto py-8 px-4;
  }
}